<!DOCTYPE html>
  <html lang="en">
  <head>
    <style>
      body
      {
        background-image: "backimg";
        background-color: grey;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
<div class="appbody">
<div class="nav-header" >
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#"><b>Home</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><b>About Us</b></a>
  </li>
  <li class="nav-item" style="padding-right:30cm;">
    <a class="nav-link" href="#"><b>Contact Us</b></a>
  </li>
  <li class="nav-item" >
    <a routerLink="login" routerLinkActive="active" style="padding-right:1cm;"><b>Sign in</b></a>
  </li>
  <li class="nav-item" >
    <a routerLink="forms" routerLinkActive="active"><b>Register </b></a>
  </li>
</ul>
<router-outlet></router-outlet>
</div>
<br>
<br>
</div>

<div>
  <img [src]="backimg" alt="">
</div>
  </body>
